<h1>New Class</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @glcclass do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :class_name %>
      <%= f.text_field :class_name %>
      
      <%= f.label :day %>
      <%= f.select :day, options_for_select(["Select One", ""], "Monday",
                          "Tuesday", "Wednesday", "Thursday", 
                          "Friday", "Saturday", "Sunday"), class => 'genForm_dropBox' %>
    <% end %>
  </div>
</div>
      
      