<%= provide(:title, @klass.klass_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="klass_info">
      <h1>
        <%= @klass.klass_name %>
      </h1>
      <%= link_to "Delete class", @klass, method: :delete, data: { confirm: "You sure?" } %>
      <p>On: <%= @klass.day %></p>
      <section class = "teacher_name">
      <% if @klass.user_id %>
          Teacher: <%= link_to(@user.name, user_path(@user)) %>
        </h2>
      <% else %>
        <p>No teacher assigned...</p>
      <% end %>
      </section>
    </section>
  </aside>
</div>